* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*cores*/
  --main-red: #E3646E;
  --main-purple: #BB72E9;
  --main-blue: #3996DB;
  --main-green: #82BC4F;
  --main-yellow: #EABD5F;
  --base-100: #E2E4E9;
  --base-200: #C0C4CE;
  --base-300: #878EA1;
  --base-400: #292C34;
  --base-500: #16181D;
  --base-600: #0D0E11;

  /*fontes*/
  --h1: bold 56px/120% "Asap", sans-serif;
  --h2: bold 24px/120% "Asap", sans-serif;
  --h3: bold 16px/120% "Asap", sans-serif;
  --subtitle: 400 20px/120% "Inconsolata", monospace;
  --text-md: 400 16px/140% "Maven Pro", sans-serif;
  --text-sm: 400 14px/140% "Maven Pro", sans-serif;
}

.container {
  padding-inline: 163px;
  width: 1366px;
  margin-inline: auto;
}

.subtitle {
  font: var(--subtitle);
  justify-self: center;
}

.h1 {
  font: var(--h1);
  justify-self: center;
}

.text-md {
  font: var(--text-md);
}

.text-sm {
  font: var(--text-sm);
}

.main-red {
  color: var(--main-red);
}

.base-100 {
  color: var(--base-100);
}

.base-200 {
  color: var(--base-200);
}

.base-300 {
  color: var(--base-300);
}

