header {
  background-image: url(/assets/images/Background_Intro.png);
  background-size: 100% 100%;
}

#intro {
  width: 1040px;
  justify-items: center;
}

#title {
  width: 680px;
  justify-items: center;
}

#img {
  grid-area: a;
  justify-self: center;
}

#name {
  grid-area: b;
  justify-self: center;
}

h1 {
  grid-area: c;
  justify-self: center;
}

#about {
  grid-area: d;
  justify-self: center;
  align-self: center;
}

.tags {
  gap: 16px;
}

.tag {
  padding: 8px 16px;
  gap: 8px;
  background-color: var(--base-400);
  border-radius: 999px;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 40px;
}