main {
  background-color: var(--base-500)
}

#projects {
  padding-bottom: 144px;
}

#projects-title {
  padding-block: 72px 56px;
}

.img-size {
  width: 306px;
  height: 156px;
  justify-self: center;
  margin: 12px 12px 20px;
}

img {
  max-width: 100%;
  border-radius: 8px;
}

.card {
  background-color: var(--base-400);
  border-radius: 12px;
}

.info {
  padding: 0px 12px 17px;
}

main h3 {
  padding-block: 4px;
}

main p {
  padding-block: 4px;
}  

/* -------- projects end ----------*/

#services {
  padding: 88px 0px 120px;
  background-color: var(--base-600);
  height: 480px;
}

.svcs-img {
  width: 48px;
  height: 48px;
  max-width: 100%;
  margin: 20px;
}

.svcs-card {
  border: solid 2px var(--base-500);
  border-radius: 12px;
}

.svcs-info {
  margin: 0px 20px 20px;
}

#services h2 {
  padding-block: 8px 56px;
}


/* ------------- services end ------------*/